@import url('https://fonts.googleapis.com/css?family=Iceland');

body {
    max-width: 100%;
    background-image: url("moon.jpg")
    
}
.container{
    padding: 0;
    margin: 100px;
    max-width: 190px;
} 
h1 {
    font-size:2.2em;
    color: #FFF;
    margin: 0;
    padding: 5px 0 2px 5px;
    font-family: 'Iceland', YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
th {
    background-color: #C0C0C0;
    font-size: 13px;
    text-align: center;
}
td {
    color: #FFF;
    font-family: 'Iceland', cursive;
    font-size: 2em;
}
.sat {
    background-color: #b0c4de;
    font-weight: bold;
    color: blue;
}
.sun {
    background-color: #FF99CC;
    color: red;
}
